/* #root {
  max-width: 520px;
  margin: 0 auto;
  padding: 5%;
  text-align: left;

}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
 
  width: 110%;
  font-size: 10px;
} */



